<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge;chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ site.baseurl }}/style.css" rel="stylesheet">

    {% if include.title %}
        <title>{{ include.title }} :: Andrew Cairns</title>
    {% else %}
        <title>Andrew Cairns</title>
    {% endif %}

    <meta property="og:title" content="acairns.co.uk">
    <meta property="og:type" content="text/html">
    <meta property="og:url" content="https://acairns.co.uk/">
    <meta property="og:image" content="andrew-cairns-logo-square-300.png">
</head>