<!DOCTYPE html>
<html>

{% include head.html title=page.title %}

<body class="index">

    <div class="page-header">
        <div class="page-navigation">
            <div class="site-container">
                {% include logo.html %}
                {% include menu.html %}
            </div>
        </div>
    </div>
    <div class="site-container">
        <div class="main-content">
            <article class="post">
                <div class="post-header">
                    <h2 class="post-title">
                        <a href="{{ page.url }}">{{ page.title }}</a>
                    </h2>
                </div>

                <div class="post-body">
                    {{ content }}
                </div>
            </article>
        </div>
    </div>

</body>
</html>